@import url('https://fonts.googleapis.com/css2?family=Anton&family=Blaka&family=Fascinate+Inline&family=Kdam+Thmor+Pro&family=Nunito&family=Permanent+Marker&family=Righteous&family=Rubik:ital,wght@0,600;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .textshadow {
        text-shadow: -2px -2px 0 #FFF, 2px -2px 0 #FFF, -2px 2px 0 #FFF, 2px 2px 0 #FFF;
    }

    .logo-size{
        height: 200px;
    }

    .link-underline {
		border-bottom-width: 0;
		background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(190 18 57), rgb(190 18 57));
		background-size: 0px 5px;
		background-position: 0 90%;
		background-repeat: no-repeat;
        border-radius: 25%;
		transition: background-size .5s ease-in-out;
	}

	.link-underline-black {
		background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(190 18 57), rgb(190 18 57))
	}

	.link-underline:hover {
		background-size: 100% 5px;
		background-position: 0 90%
	}

	.header-font {
		@apply text-yellow-600 font-bold textshadow;
	}
}
